<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Вёрстка проекта</title>
  <style>
    html {
      font-size: 10px;
      line-height: 1.3em;
    }

    body {
      font-family: Helvetica, Arial, sans-serif;
    }

    .wrapper {
      padding: 30px;
    }

    h1 {
      color: #333;
      font-size: 3rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 10px 0;
    }

    a {
      color: #333;
      text-decoration: underline;
      transition: all .25s ease-out;
      font-size: 1.6rem;
    }

    a:hover {
      color: #2962ff;
      text-decoration: none;
    }
  </style>
</head>

<body>

  <div class="wrapper">
    <h1>Страницы</h1>

    <br>
    <br>
    <br>
    <br>
    <br>
    {% set data = load('test') %}
    {{  data.benefits['user']['name'] }}
    {{ dump(data.title) }}
    {{ dump(data) }}
    <br>
    {{ data.title }}
    <br>
    {{ dump(data.title) }}
    {# {{ 'nameOfFilter' | customFilter(true) }} #}
    <br>
    <br>


    <ul>
      <li>
        <a href="/home.html">Главная страница</a>
      </li>
      <li>
        <a href="/404.html">404</a>
      </li>
      <li>
        <a href="/components.html">Компоненты UI-KIT</a>
      </li>
      <li>
        <a href="/svgsprite-demo.html">SVG sprite</a>
      </li>
      <li>
        <a href="/grid-system.html">Сетка</a>
      </li>
    </ul>
  </div>
</body>

</html>
